#navbar-brand{
    background-color: #28356e;
    font-size: large;
    font-family: "AIGDT";
    color: red;
}

#nav-link{
    background-color: #28356e;
    font-size: large;
    font-family: "AIGDT";
    color: #1ed012;
}